<form nz-form [formGroup]="tableForm">
  <ngx-datatable
    [columnMode]="ColumnMode.force"
    class="material"
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="45"
    [externalSorting]="true"
    [rowHeight]="75">
  </ngx-datatable>

  <!-- Columns -->
  <ng-template #defaultHdrTpl let-column="column" ngx-datatable-header-template>
    <div class="px-6 flex items-center">
      <span class="text-xs text-gray-700 uppercase dark:text-gray-400 font-bold">
        {{ column.name }}
      </span>
    </div>
  </ng-template>

  <!-- Rows -->
  <!-- NAME -->
  <ng-template #nameTpl let-row="row" let-value="value" let-rowIndex="rowIndex">
    <app-input
      [data]="row"
      [rowIndex]="rowIndex"
      [showInput]="editing[rowIndex + '-strDrink']"
      formGroupName="nameForm"
      [controlName]="getName(rowIndex)"
      (handleSelect)="onSelectName()"
      (handleUpdate)="updateValue($event, rowIndex)">
    </app-input>
  </ng-template>

  <!-- Category -->
  <ng-template #categoryTpl let-row="row" let-value="value">
    <div class="flex px-6">
      <h2 class="pt-2 truncate">{{ row.strCategory }}</h2>
    </div>
  </ng-template>

  <!-- Tags -->
  <ng-template #tagsTpl let-row="row" let-value="value">
    <div class="flex px-6">
      <h2 class="pt-2 truncate">{{ row.strTags }}</h2>
    </div>
  </ng-template>

  <!-- Date -->
  <ng-template #updatedTpl let-row="row" let-value="value">
    <div class="flex px-6">
      <h2 class="pt-2 truncate">{{ row.dateModified | date }}</h2>
    </div>
  </ng-template>

  <!-- Glass Type -->
  <ng-template #glassTypeTpl let-row="row" let-value="value">
    <div class="flex px-6">
      <h2 class="pt-2 truncate">{{ row.strGlass }}</h2>
    </div>
  </ng-template>
</form>